/* About */
.about {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  position: relative;
}

.about-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  margin-top: 1rem;
  padding: 10px;
  background: rgba(245, 245, 245, 0.7) url("https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg") center/cover;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.4s linear;
  text-align: center; 
  position: relative;
}

.about-header h1 {
  position: absolute;
  bottom: 25%; 
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  height: 75px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.about-footer h6 {
  margin: 0;
}

/* 
header {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

h2 {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

p {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

.about-section,
.carousel,
.guide-platform,
.guide-screenshot,
.carousel-videos,
.carousel-text {
  z-index: 1;
}

.active .carousel-item {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide-screenshot .carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

.guide-screenshot .carousel-item img {
  max-width: 100%;
  max-height: 100%;
}

.guide-top {
  text-align: right;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.empty-space {
  height: 250px; 
}

img {
  max-width: 100%;
}

.video-container {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 1;
}

