.countdown {
    text-align: center;
    margin-top: 20px;

  }
  
  div.countdown h2 {
    font-size: 24px;
    color: #FFA500; /* Orange color for the title */
    margin-bottom: 20px;
    
  }

  .countdown .content {
    display: flex;
    justify-content: center;
  }

  
  
  .countdown .box {
    width: 80px; /* Set a fixed width for all boxes */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    background: #222; /* Dark background color */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px black; /* Box shadow for depth */
    color: #FFF; /* White text color */
  }
  
  .countdown .value {
    font-size: 2rem;
    font-weight: bold; /* Make the value bold */
  }
  
  .countdown .label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px; 
    margin-top: 5px;
  }
  
  .countdown.sign-up{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 6%;
    color: #fff;
    animation: pulse 1s infinite alternate;
    
  }
  .countdown.sign-up .box{
    box-shadow: 0 0 20px #FFA500;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }