@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*scroll bar fun*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19191a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html, body { max-width: 100%; overflow-x: none; overscroll-behavior: none;  }

/* About */

.about {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  position: relative;
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 1rem;
  padding: 10px;
  background: #f5f5f5 url("https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg") center/cover;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.4s linear;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  height: 75px;
  border-top: 1px solid #ccc;
}

header {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

.about-section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
  padding: 20px 0;
}

/* Carousel */

.carousel {
  margin: 20px 0;
}

.carousel-text {
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  text-align: center;
  padding: 10px;
}

.carousel-item {
  text-align: center;
  padding: 20px;
}

.carousel-videos {
  font-size: 18px;
  margin-bottom: 10px;
}

.guide-platform {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.guide-top {
  text-align: right;
  padding: 20px;
}

.empty-space {
  height: 250px; 
}

a:hover,
button:hover {
  color:#007BFF;
  background-color:#FFD700;
  transition: background-color 0.3s, color 0.3s;
}
